<style scoped lang="scss">
  @import '~vuetify/src/styles/settings/_variables';

  #app .container{
    max-width: 900px;
  }
</style>
<template>
  <div>
    <v-container v-if="this.list.length==0">
      <v-row
        class="v-row"
      >
        <v-col
          class="mt-2"
          cols="12"
        >
          <h2>There are no favorites...</h2>
        </v-col>
      </v-row>
    </v-container>
    <MoviesList v-bind:list="list"/>
  </div>
</template>

<script>
import MoviesList from '../components/MoviesList';

export default {
  name: 'Home',
  components: {
    MoviesList
  },
  data: () => ({
    list: []
  }),
  mounted() {
    document.title = 'Favorites';
    if(window.localStorage.favorites == undefined || window.localStorage.favorites == "") window.localStorage.favorites = "[]";
    this.list = JSON.parse(window.localStorage.favorites);
  }
};
</script>
