<template>
  <div>
    <SearchBar v-on:open="loadList"/>
    <MoviesList v-bind:list="list"/>
  </div>
</template>

<script>
import {getData, convertResponse} from '../plugins/getHelper';
import SearchBar from '../components/SearchBar';
import MoviesList from '../components/MoviesList';

export default {
  name: 'Home',
  components: {
    SearchBar,
    MoviesList
  },
  data: () => ({
    list: [],
  }),
  mounted() {
    document.title = 'Movie Search';
    getData(`/api/home/`).then((data) => {this.list = convertResponse(data)});
  },
  methods: {
    loadList: function(variables){
      document.title = variables.title.replace(/<\/?[^>]+(>|$)/g, "");
      if(variables.type == "search"){
        getData(`/api/movie/?string=${variables.id}`).then((data) => {this.list = convertResponse(data)});
      }else if(variables.type == "person"){
        getData(`/api/movie/person?id=${variables.id}`).then((data) => {this.list = convertResponse(data)});
      }else if(variables.type == "genre"){
        getData(`/api/movie/genre?id=${variables.id}`).then((data) => {this.list = convertResponse(data)});
      }else if(variables.type == "date.gte"){
        getData(`/api/movie/date?string=${variables.id}&mode=gte`).then((data) => {this.list = convertResponse(data)});
      }else if(variables.type == "date.lte"){
        getData(`/api/movie/date?string=${variables.id}&mode=lte`).then((data) => {this.list = convertResponse(data)});
      }
    }
  }
};
</script>
