<style scoped lang="scss">
  @import '~vuetify/src/styles/settings/_variables';

  #app .v-row{
    .v-content-left{
      width: 100%;
    }
  }
  #app .container{
    max-width: 900px;
  }
  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    .flex-no-wrap{
      flex-wrap: wrap !important;
    }
  }
</style>
<template>
  <v-container class="movie">
    <v-row
        class="v-row"
    >
      <v-col
      class="mt-2"
      cols="12"
      >
        <v-card>
          <div class="d-flex flex-no-wrap justify-space-between">
              <v-avatar
                class="ma-3"
                size="225"
                tile
              >
                <v-img v-if="item.poster_path" :src="`https://image.tmdb.org/t/p/original${item.poster_path}`"></v-img>
              </v-avatar>
              <div class="v-content-left">
                <v-card-title
                  class="headline"
                  v-text="item.title"
                ></v-card-title>
                <v-card-subtitle v-text="item.original_title"></v-card-subtitle>
                <v-card-text v-text="item.overview"></v-card-text>
                <v-btn class="ml-3" v-on:click="addToFavorites">Add to favorites</v-btn>
                <v-card-subtitle v-text="`Average rating: ${item.vote_average}`"></v-card-subtitle>
              </div>
            </div>
          </v-card>
        </v-col>
    </v-row>
  </v-container>
</template>
<script>
  import {getData} from '../plugins/getHelper';
  export default {
    name: 'Movie',
    props: ["list"],
    data () {
      return {
        item: {

        }
      }
    },
    created(){
      getData(`/api/movie/single?id=${this.$route.params.id}`).then((data) => {this.item = data; document.title = this.item.title;});
    },
    methods:{
      addToFavorites: function(){
        
        if(window.localStorage.favorites == undefined || window.localStorage.favorites == "") window.localStorage.favorites = "[]";
        let favorites = JSON.parse(window.localStorage.favorites);
        const count =  favorites.filter((item)=>{
            return item.id == this.item.id
          }).length;
        if(count == 0){
          favorites.push({
            title: this.item.title,
            id: this.item.id,
            overview: this.item.overview,
            rating: `Average rating: ${this.item.vote_average}`,
            avatar: `https://image.tmdb.org/t/p/original${this.item.poster_path}`
          });
        }

        window.localStorage.favorites = JSON.stringify(favorites);
      }
    }
  }
</script>