<style scoped lang="scss">
  @import '~vuetify/src/styles/settings/_variables';

  #app .v-row{
    .v-content-left{
      width: 100%;
    }
    .v-card-link{
      cursor: pointer;
      &:hover{
        background-color: #cacaca29;
      }
    }
  }
  #app .container{
    max-width: 900px;
  }
  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    .flex-no-wrap{
      flex-wrap: wrap !important;
    }
  }
</style>
<template>
    <v-container class="moviesList">
        <v-row
            class="v-row"
        >
            <v-col
            class="mt-2"
            cols="12"
            v-for="item in content"
            :key="item.title"
            >
                <v-card
                     :to="`${item.id}`"
                    class="v-card-link"
                >
                    <div class="d-flex flex-no-wrap justify-space-between">
                        <v-avatar
                            class="ma-3"
                            size="125"
                            tile
                        >
                            <v-img :src="item.avatar"></v-img>
                        </v-avatar>
                        <div class="v-content-left">
                            <v-card-title
                            class="headline"
                            v-text="item.title"
                            ></v-card-title>
                            <v-card-text v-text="item.overview"></v-card-text>
                            <v-card-subtitle v-text="item.rating"></v-card-subtitle>
                        </div>
                    </div>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
  export default {
    name: 'MoviesList',
    props: ["list"],
    data () {
      return {
        content: []
      }
    },
    watch: {
      list: function(newVal){
        this.content = newVal;
      }
    }
  }
</script>