<style scoped lang="scss">
  @import '~vuetify/src/styles/settings/_variables';

  #app .container{
    max-width: 900px;
  }
  #app .v-list-item-title{
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 400;

    @media #{map-get($display-breakpoints, 'sm-and-down')} {
      font-size: 0.8rem;
      line-height: 0.9rem;
    }
  }
  #app .v-row{
    position: relative;
    .v-col-bottom{
      position: absolute;
      top: 125px;
      width: 100%;
      max-width: 100%;
      z-index: 1000;
    }
    .v-card-top{
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;
    }
  }
  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    .v-list-item-avatar{
      min-width: 40px !important;
      height: 40px !important;
      width: 40px !important;
    }
  }
</style>
<template>
  <v-container class="searchBar">
    <v-row class="v-row">
      <v-col
        class="mt-5 mb-0 pb-0"
        cols="12"
      >
        <v-card class="mx-auto v-card-top">
          <v-list-item>
            <v-list-item-content>
              <v-text-field
                placeholder="Search your favorite movie here ;)"
                v-model="movieSearchBar"
              ></v-text-field>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
      <v-col
        class="mt-0 mb-5 pt-0 v-col-bottom"
        cols="12"
      >
        <v-card class="mx-auto">
          <v-divider v-if="items.length > 0"></v-divider>

          <v-list
            v-if="items.length > 0"
            dense
            nav
          >
            <v-list-item
              v-for="item in items"
              :key="item.title"
              v-on:click="open(item.id, item.type, item.title)"
              link
            >
              <v-list-item-avatar
                class="v-list-item-avatar"
                v-if="item.hasAvatar"
                size="100">
                <v-img
                  :alt="`${item.name} photo`"
                  :src="item.avatar"
                ></v-img>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title
                  class="v-list-item-title"
                  v-html="item.title"
                ></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import {getData} from '../plugins/getHelper';

  export default {
    name: 'SearchBar',
    data () {
      return {
        movieSearchBar: "",
        items: []
      }
    },
    methods: {
      open: function(id, type, title) {
        this.movieSearchBar = "";
        this.items = [];

        this.$emit('open', {id, type, title});
      }
    },
    watch: {
      movieSearchBar: function(value){
        if(value != "") document.title = `Searching for ${value}...`;

        getData(`/api/movie/result?string=${value}`).then((data) => {
          let list = new Array();
          if(data["movie"] != undefined){
              list.push({
                title: data["movie"].result.response,
                id: data["movie"].result.search,
                type: "search",
                hasAvatar: false,
              });
          }
          if(data["genres"] != undefined){
            data["genres"].forEach(function(item) {
              list.push({
                title: item.response,
                name: item.name,
                id: item.id,
                type: "genre",
                hasAvatar: false,
              });
            });
          }
          if(data["persons"] != undefined){
            data["persons"].forEach(function(item) {
              list.push({
                title: `Search movies that <b>${item.name}</b> played in.`,
                name: item.name,
                id: item.id,
                type: "person",
                hasAvatar: item.profile_path!=undefined,
                avatar: `https://image.tmdb.org/t/p/original${item.profile_path}`
              });
            });
          }
          if(data["date_gte"] != undefined){
              list.push({
                title: data["date_gte"].result.response,
                id: data["date_gte"].result.search,
                type: "date.gte",
                hasAvatar: false,
              });
          }
          if(data["date_lte"] != undefined){
              list.push({
                title: data["date_lte"].result.response,
                id: data["date_lte"].result.search,
                type: "date.lte",
                hasAvatar: false,
              });
          }
          this.items = list;
        });
      }
    }
  }
</script>
