<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <v-btn class="ml-5" icon :to="`/`">
        <v-icon>mdi-home</v-icon>
      </v-btn>
      <v-btn text class="ml-5" :to="`/favorites`">
        Favorites
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'App',
};
</script>
